/* @import '../util/constants.css'; */
@value bgcolor,brandcolor,menucolor,fontcolor,subinfocolor from '../util/constants.css';
@value subtitlefontsize, subtitlefontweight, subtitlemargin, subtitlepadding, bordertop from '../util/constants.css';

.container {
  width: 100%;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.container > p{
  width:90vw;
  margin:0.9rem 0 0 0;
  padding:subtitlepadding;
  color:fontcolor;
  font-weight:subtitlefontweight;
  font-size:subtitlefontsize;
}
.product{
  width:90vw;
  background-color:#fff;
  padding: 0 1rem;
  border-top:bordertop;
}


@media(max-width:400px){
  .product{
    width:100%;
  }
}