@value bgcolor,brandcolor,menucolor,fontcolor,subinfocolor from '../util/constants.css';
@value subtitlefontsize, subtitlefontweight, subtitlemargin, subtitlepadding, bordertop from '../util/constants.css';

.container{
  width:90vw;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.categories{
  width:100%;
  margin: subtitlemargin;
  padding:0;
  display: flex;
  justify-content:center;
}

.categories>li{
  padding: 0.1rem 0.5rem;
  font-size:subtitlefontsize;
  color:fontcolor;
  font-weight:subtitlefontweight;
}

.productsbox{
  width:100%;
  padding: 0 1rem; 
  background-color:#fff;
  border-top: bordertop;
}

@media(max-width:400px){
  .container{
    width: 100%;
  }
}