@value bgcolor,brandcolor,menucolor,fontcolor from '../util/constants.css';

.container{
  width:90vw;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.categories{
  width:100%;
  margin: 1rem 0 0 0;
  padding:0;
  display: flex;
  justify-content:center;
  list-style:none;
}

.categories>li{
  padding: 0.1rem 0.5rem;
  font-size:0.9rem;
  color:fontcolor;
  font-weight:600;
}

.productsbox{
  width:100%;
  padding: 0 1rem; 
  background-color:#fff;
  border-top: 2px solid brandcolor;
}