@value bgcolor,brandcolor,menucolor,fontcolor from '../util/constants.css';

.container{
  height: 1.4rem;
  display:flex;
  align-items:center;
  color: menucolor;
  font-size: 0.9rem;
  margin:0 0.3rem 0 1rem;
  border: 1.5px solid brandcolor;
  border-radius: 0.7rem;
  padding:0;
}

.container > img {
  width: 1.3rem;
  padding: 0;
  border-radius:50%;
}

.container > p {
  margin: 0 0.5rem 0 0.2rem;;
}

@media(max-width:500px){
  .container {
    display:none;
  }
}